@import url('./variables.css');
@import url('./fonts.css');

* {
    /* CSS reset */
    margin: 0px;
    padding: 0px;

    font-family: 'Sarabun', sans-serif;
    box-sizing: border-box;
}

button {
    all: unset;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
  height: 100vh;
  overflow: hidden;
}

/* ##################################################### */
/* Navigation Bar */
/* ##################################################### */

.nav-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.nav-bar ul {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 8px 48px;

    width: fit-content;
    border-radius: 9999px;
    background-color: var(--Primary-500);
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 100px;
}

.nav-item p {
    color: white;
    size: 24px;
    font-weight: 400;
}
.star-icon, .und-line  {
    display: none;
    position: absolute;
}

.nav-item:hover .star-icon {
    display: block;
    position: absolute;
    top: -20px;
    width: 24px;
    height: 24px;
}

.nav-item:hover .und-line {
    display: block;
    position: absolute;
    top: 20px;
    width: fit-content;
}

.nav-item:hover p {
    color: var(--Secondary-500);
    font-weight: 800;
}

/* ##################################################### */
/* Section A */
/* ##################################################### */

#Abtme-section-A {
    position: relative;
    background-color: var(--Primary-500);
    background-image: url('/images/gradient.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 200px) center;
    padding: 120px 100px 0px 100px;
    display: flex;
    flex-direction: column;
}

.elem-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.git-click {
    position: relative;
    min-height: 90px;
    width: 90px;
}
.git-1 {
    position: absolute;
    left: 16px;
    top: -5px;
    transition: transform 0.4s ease;
}
.git-2 {
    position: absolute;
    top: 20px;
    transition: transform 0.4s ease;
}
.git-3 {
    position: absolute;
    top: 24px;
    left: 32px;
    transition: transform 0.4s ease;
}

.skill-comp {
    position: relative;
    min-height: 30px;
    width: 465px;
}
.skill-comp img {
    height: 40px;
    position: absolute;
}
.skill-1 {
    transform: rotate(-16.55deg);
}
.skill-2 {
    top: -10px;
    left: 80px;
}
.skill-3 {
    left: 140px;
    transform: rotate(-10deg);
}
.skill-4 {
    top: 5px;
    left: 200px;
}
.skill-5 {
    transform: rotate(8deg);
    left: 270px;
}
.skill-6 {
    top: -12px;
    left: 375px;
}

.intro-text {
    display: flex;
    justify-content: flex-end;
}
.intro-text h1 {
    text-align: right;
    font-size: 100px;
    color: white;
    line-height: 115px;
}

.whoiam {
    position: relative;
}
.who-1 {
    position: absolute;
    left: -50px;
    top: -10px;
    transition: transform 0.4s ease;
}
.who-2 {
    position: absolute;
    top: -6px;
    transition: transform 0.4s ease;
}
.who-3 {
    position: absolute;
    width: 340px;
    left: 55px;
    transition: transform 0.4s ease;
}

.hero {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.hero-left {
    display: flex;
    flex-direction: column;
}
.hero-right {
    position: relative;
    min-width: 360px;
    min-height: 500px;
}
.me-1 {
    position: absolute;
    width: 320px;
}
.me-2 {
    position: absolute;
    top: -50px;
    left: 250px;
    width: 115px;
    transition: transform 0.4s ease;
}
.me-3 {
    position: absolute;
    top: 350px;
    left: 210px;
    transition: transform 0.4s ease;
}
.load {
    position: absolute;
    top: 420px;
    right: 190px;
    width: 320px;
    transition: transform 0.4s ease;
}

.contact-shortcut {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 30px;
    bottom: 40px;
}

.cont-1 {
    color: var(--Secondary-500);
}
.cont-1:hover {
    color: var(--Tertiary-600);
}
.cont-2 {
    color: var(--Secondary-500);
}
.cont-2:hover {
    color: var(--Tertiary-600);
}